@font-face {
	font-family:RobotoSlab-Regular;
	src: url(RobotoSlab-Regular.ttf);
}
@font-face {
	font-family:Nunito-Regular;
	src: url(Nunito-Regular.ttf);
}
@font-face {
	font-family:Nunito-SemiBoldItalic;
	src: url(Nunito-SemiBoldItalic.ttf);
}
body {
	color:#2718dc;
}
main {
	font-family:Nunito-Regular;
	max-width:960px;
	font-size: 5vw;
}
.input {
	display: none;
}
.sliderImg {
	display: none;
}
#sliderImg-1, #sliderImg-2{
	display: block;
}
#button-right, #button-left{
	background-color: blanchedalmond;
}

@media screen and (min-width:576px) {
	main {
		font-size: 16px;
	}
	#sliderImg-3, #sliderImg-4{
		display: block;
	}
}
