@font-face {
	font-family:RobotoSlab-Regular;
	src: url(RobotoSlab-Regular.ttf);
}
@font-face {
	font-family:Nunito-Regular;
	src: url(Nunito-Regular.ttf);
}
@font-face {
	font-family:Nunito-SemiBoldItalic;
	src: url(Nunito-SemiBoldItalic.ttf);
}
html {
	background:white;
	background: linear-gradient(to bottom, #c5ecf7, #009bc8); 
    min-height: 100%;
	position: relative;
	overflow: hidden;
}
body {
	color:#2718dc;
	margin:30px auto 0;
    width: fit-content;
    font-family: RobotoSlab-Regular;
}
@media screen and (min-width:800px) {
	html {
		/*background: linear-gradient(to bottom right, #c5ecf7, #009bc8);*/
	}
}

.background {
	position: absolute;
	z-index: -1;
	top: -5%;
	left: -5%;
	width: 150%;
	height: 150%;
	display: flex;
	flex-wrap: wrap;
}
.background img {
	width: 6.87%;
	min-width: 120px;
}