@font-face {
	font-family:RobotoSlab-Regular;
	src: url(RobotoSlab-Regular.ttf);
}
@font-face {
	font-family:Nunito-Regular;
	src: url(Nunito-Regular.ttf);
}
@font-face {
	font-family:Nunito-SemiBoldItalic;
	src: url(Nunito-SemiBoldItalic.ttf);
}
body {
	color:#2718dc;
	font-family:Nunito-Regular;
}
main {
	font-family:Nunito-Regular;
	max-width:960px;
	font-size: 5vw;
}
#popup {
	display: none;
	width: 100vw;
	background-color: rgb(0, 0, 0,0.7);
	height: 100vh;
	top:0px;
	left: 0px;
}
#popup form{
	width: 100vW;
	border-width: 3px;
	background-color:wheat;
}
textarea{
	overflow: auto;
    resize: none;
}

@media screen and (min-width:576px) {
	#popup form{
		max-width: 50vW;
	}
	textarea{
		resize: vertical;
	}
}
